body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

/*display adjustments*/
.header, .hero, .part2, .part3, .part4 {
    padding: 0 150px;
}


/*************************Header ********************/
.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}
/*links*/
a {
    text-decoration: none;
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}
/*End of header*/

/*************************************hero****************************/
.hero {
    background-color: #1f2937;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*inside hero-container*/
.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    width: 600px;
    padding: 30px 0;
}
/*button*/
.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    border-width: 0;
}

.img1 {
    width: 500px;
    height: 350px;
}

/*end of hero*/

/********************************part2****************/
.part2 {
    background-color: white;
    height: 550px;
}

.p2-img {
    height: 200px;
    width: 200px;
}

/*******************************part 3**************/
.part3 {
    background-color: grey;
    height: 550px;
}
/*******************************part 4****************/
.part4 {
    background-color: white;
    height: 500px;
}

.footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 16px;
}