body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
/*************************Header beginning********************/
.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

.logo {
    color: white;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}
/*End of header*/

/********************************Part1**************/
.hero {
    background-color: #1f2937;
    position: relative;
    height: 550px;
}
/*end of part1*/

/********************************part2****************/
.part2 {
    background-color: white;
    height: 550px;
}

/*******************************part 3**************/
.part3 {
    background-color: grey;
    height: 550px;
}
/*******************************part 4****************/
.part4 {
    background-color: white;
    height: 500px;
}

.footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 16px;
}